::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-track{

    background:#111827;

}

::-webkit-scrollbar-thumb{

    background:#7C3AED;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#6D28D9;

}